body {
    margin: 0;    
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
}

.blog-brand {
    display: flex;
    margin: 24px 24px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: black;
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding: 16px;
    margin: 0;
}

.nav-links a {
    margin: 7px 7px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 12px;
    border-radius: 65px;
    background-color: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header span {
    background-color: darkcyan;
    border-radius: 20px;
    padding: 12px;

}

.carousel-inner img {
    height: 400px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 24px;
    gap: 16px;
    margin: 24px;
    background-color: ghostwhite;
    border-radius: 20px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.home-split {
    display: flex;
    height: 100%;
    margin-top: 25px;
}

.home-right-split, .home-left-split {
    padding: 24px;
}

.home-left-split {
    width: 70%;
    padding: 50px;
    
}

.home-left-split-content {
    background-color: darkgray;
    border-radius: 20px;
    padding: 24px;
}

.home-left-split-content a {
    padding: 8px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}


.home-right-split {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;

}

figure figcaption {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.blog-icon {
    height: 128px;
    width: 128px;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logs-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

@media (min-width: 768px) {
    .logs-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .logs-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.logs-grid {
    margin: 100px;
    padding: 40px;
    background-color: darkgray;
    border-radius: 10px;
}

.logs-content a{
    text-decoration: none;
}

.logs-content {
    border-bottom: 1px solid black;
    margin-top: 10px;
}

footer {
    color: white;
}

.footer-split-container {
    display: flex;
}

.foot-right, .foot-left {
    padding: 24px;
    width: 50%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.foot-right {
    border-left: 1px solid white;
}

.footer-ul {
    list-style-type: none;
}

.footer-ul a {
    text-decoration: none;
}
.footer-contacts {
    margin-top: 25px;
}
.footer-foot {
    margin: 10px;
}

.feature-section, .logs-section {
    margin-left: 24px;
    margin-top: 24px;
    color: white;
}

hr {
    color: white;
}
