.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.navbar-links {
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.navbar-links a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 18px;
    background-color: blanchedalmond;
    
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 24px;
}

.home-split {
    display: flex;
    height: 100%;
}

.home-right-split, .home-left-split {
    padding: 25px;
}

.home-left-split {
    width: 70%;
    margin: 50px;
}

.home-right-split {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.blog-icon {
    height: 128px;
    width: 128px;
}

