body {
    margin: 0;    
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.carousel-inner img {
    height: 400px;
    
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 24px;
    gap: 16px;
    margin: 24px;
    background-color: antiquewhite;
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.home-split {
    display: flex;
    height: 100%;
    margin-top: 25px;
}

.home-right-split, .home-left-split {
    padding: 24px;
}

.home-left-split {
    width: 70%;
    padding: 50px;
    
}

.home-left-split-content {
    background-color: gray;
    padding: 24px;
}

.home-right-split {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0, 4px, 8px rgba(200, 0, 0, 0.6);
}

.blog-icon {
    height: 128px;
    width: 128px;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}

.travel-img {
    height: 280px;
    max-width: 100%;
    border-radius: 30px;
}

.travel-img-fig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 30px;
}

.travel-split {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.travel-right-split-rpic, .travel-left-split-rpic, .travel-right-split-lpic, .travel-left-split-lpic {
    padding: 24px;
}

.travel-right-split-rpic, .travel-left-split-lpic {
    width: 30%;
}

.travel-left-split-rpic, .travel-right-split-lpic {
    width: 70%;
}



/* body{
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;2
    background-color: bisque;
}
.navbar-links {
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.navbar-links a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 18px;
    background-color: blanchedalmond;
    color: black;
    
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 24px;
}

.home-split {
    display: flex;
    height: 100%;
    margin-top: 25px;
}

.home-right-split, .home-left-split {
    padding: 25px;
}

.home-left-split {
    width: 70%;
    padding: 50px;
}

.home-right-split {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0, 4px, 8px rgba(200, 0, 0, 0.6);
}

.blog-icon {
    height: 128px;
    width: 128px;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}
 */
